<a href="https://colab.research.google.com/github/ramansushant/CSCK700/blob/main/CSCK700_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 1500)

In [ ]:
# Files can also be downloaded from the following links:
# ppd.csv: https://drive.google.com/file/d/1T1TxUl-yKLu_SL6wGlzjcBSbjGwdMS-t/view?usp=sharing
# ppd_flat.csv: https://drive.google.com/file/d/1QofKqMr_s8oVbQhfPKgfnzoBtI9MRDo9/view?usp=sharing
# ons.csv: https://drive.google.com/file/d/1H2NPwrRhVVVHmBX7mns9heQErkCF9NCm/view?usp=sharing
# rail.csv: https://drive.google.com/file/d/1FtW1uOgBnYlUeCFJ8k26YaoAq_mQkzEA/view?usp=drive_link
# ppd_enerygy_rail.csv: https://drive.google.com/file/d/1M2sqIlEzeelE1iGj0RMZKwRRniGAPk5H/view?usp=drive_link
# inflation.csv: https://drive.google.com/file/d/1qIBcBR4DbC8YgANWrLPy5Vqpe2dp1vJM/view?usp=drive_link
# employment.csv: https://drive.google.com/file/d/1NAzRcFhD9L6BYLa30ejuF0OaSYjNJ-U1/view?usp=drive_link

In [ ]:
import gdown

# Downloading Files that contains data from House transaction and Energy Rating
url = "https://drive.google.com/file/d/1T1TxUl-yKLu_SL6wGlzjcBSbjGwdMS-t/view?usp=sharing"
output = 'ppd.csv'
gdown.download(url=url, output=output, quiet=False, fuzzy=True)

url = "https://drive.google.com/file/d/1QofKqMr_s8oVbQhfPKgfnzoBtI9MRDo9/view?usp=drive_link"
output_flat = 'ppd_flat.csv'
gdown.download(url=url, output=output_flat, quiet=False, fuzzy=True)

url = "https://drive.google.com/file/d/1H2NPwrRhVVVHmBX7mns9heQErkCF9NCm/view?usp=drive_link"
ons = 'ons.csv'
gdown.download(url=url, output=ons, quiet=False, fuzzy=True)

df_house = pd.read_csv(output)
df_flat = pd.read_csv(output_flat)
df_ons = pd.read_csv(ons)

# Concatenate the current DataFrame with the combined DataFrame
ppd = pd.concat([df_house, df_flat], ignore_index=True)

# Now 'combined_df' contains the data from all CSV files
print(ppd.head())

In [ ]:
ppd.drop(columns='Unnamed: 0', axis=1, inplace=True)
# pps = price per sqft
ppd['pps'] = ppd['price']/(ppd['TOTAL_FLOOR_AREA']*10.7)
ppd['pc'] = ppd['postcode'].str.split(' ').str[0]
ppd['year'] = pd.DatetimeIndex(ppd['date']).year
ppd['month_year'] = pd.to_datetime(ppd['date']).dt.to_period('M')
print(ppd.head(10))
print(ppd.shape)
print(ppd.columns)

    price  postcode property_type age duration paon saon              street    locality        town  ... PROPERTY_TYPE TOTAL_FLOOR_AREA CURRENT_ENERGY_RATING     BUILT_FORM   LOCAL_AUTHORITY_LABEL NUMBER_HABITABLE_ROOMS         pps    pc  year month_year
0   78000  SW16 3BL             S   N        F  208  NaN          GREEN LANE      LONDON      LONDON  ...         House           158.00                     D    End-Terrace                 Croydon                    6.0   46.137466  SW16  1995    1995-09
1   51000   UB5 5LH             S   N        F   57  NaN       BENGARTH ROAD    NORTHOLT    NORTHOLT  ...         House            72.00                     D    Mid-Terrace                  Ealing                    4.0   66.199377   UB5  1995    1995-10
2   67000  SW17 0DF             T   N        F   80  NaN         KENLOR ROAD      LONDON      LONDON  ...         House            85.00                     D    Mid-Terrace              Wandsworth                    4.0   73.666850  SW17  1995    1995-04
3   90000    N7 8AD             T   N        F   49  NaN     WESTBOURNE ROAD      LONDON      LONDON  ...         House            90.00                     C    End-Terrace               Islington                    6.0   93.457944    N7  1995    1995-07
4   86500   UB9 6HF             T   N        F    9  NaN      ANDERSON CLOSE   HAREFIELD    UXBRIDGE  ...         House            66.00                     D  Semi-Detached              Hillingdon                    3.0  122.486548   UB9  1995    1995-10
5  128500  SW18 5DH             T   N        F  149  NaN     TRENTHAM STREET      LONDON      LONDON  ...         House            95.78                     D    Mid-Terrace              Wandsworth                    7.0  125.384692  SW18  1995    1995-03
6  157500   N19 5EX             S   N        F  104  NaN  LADY MARGARET ROAD      LONDON      LONDON  ...         House           192.48                     F  Semi-Detached               Islington                    6.0   76.473536   N19  1995    1995-03
7  145000    W6 0BG             S   N        F   47  NaN    BRACKENBURY ROAD      LONDON      LONDON  ...         House           154.54                     G    Mid-Terrace  Hammersmith and Fulham                    7.0   87.688636    W6  1995    1995-08
8   60000   SM5 3DY             S   N        F   21  NaN           PARK LANE  CARSHALTON  CARSHALTON  ...         House           112.00                     E  Semi-Detached                  Sutton                    7.0   50.066756   SM5  1995    1995-12
9   52995  RM10 8NA             T   N        F   48  NaN        HOLGATE ROAD    DAGENHAM    DAGENHAM  ...         House            83.00                     D    Mid-Terrace    Barking and Dagenham                    3.0   59.672334  RM10  1995    1995-03

[10 rows x 25 columns]
(1927174, 25)
Index(['price', 'postcode', 'property_type', 'age', 'duration', 'paon', 'saon', 'street', 'locality', 'town', 'district', 'county', 'date', 'address', 'ADDRESS2', 'PROPERTY_TYPE', 'TOTAL_FLOOR_AREA', 'CURRENT_ENERGY_RATING', 'BUILT_FORM', 'LOCAL_AUTHORITY_LABEL', 'NUMBER_HABITABLE_ROOMS', 'pps', 'pc', 'year', 'month_year'], dtype='object')

In [ ]:
ons = df_ons[['PCD2', 'LAT', 'LONG']]
ons.rename(columns = {'PCD2':'postcode'}, inplace = True)
print(ons.head(10))
print(ons.shape)

   postcode       LAT      LONG
0  AB10 1AB  57.14960 -2.096916
1  AB10 1AF  57.14959 -2.096923
2  AB10 1AG  57.14905 -2.097004
3  AB10 1AH  57.14959 -2.096923
4  AB10 1AL  57.15006 -2.095916
5  AB10 1AN  57.14970 -2.094742
6  AB10 1AP  57.14898 -2.095691
7  AB10 1AQ  57.14905 -2.097004
8  AB10 1AR  57.14959 -2.096923
9  AB10 1AS  57.14810 -2.097233
(1796370, 3)

<ipython-input-13-88503baec9ab>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ons.rename(columns = {'PCD2':'postcode'}, inplace = True)

In [ ]:
ppd_ons = pd.merge(ppd, ons, how="left", on=["postcode"])
print(ppd_ons.head(5))
print(ppd_ons.shape)

   price  postcode property_type age duration paon saon           street   locality      town  ... CURRENT_ENERGY_RATING     BUILT_FORM LOCAL_AUTHORITY_LABEL NUMBER_HABITABLE_ROOMS         pps    pc  year month_year       LAT      LONG
0  78000  SW16 3BL             S   N        F  208  NaN       GREEN LANE     LONDON    LONDON  ...                     D    End-Terrace               Croydon                    6.0   46.137466  SW16  1995    1995-09  51.41478 -0.115519
1  51000   UB5 5LH             S   N        F   57  NaN    BENGARTH ROAD   NORTHOLT  NORTHOLT  ...                     D    Mid-Terrace                Ealing                    4.0   66.199377   UB5  1995    1995-10       NaN       NaN
2  67000  SW17 0DF             T   N        F   80  NaN      KENLOR ROAD     LONDON    LONDON  ...                     D    Mid-Terrace            Wandsworth                    4.0   73.666850  SW17  1995    1995-04  51.42400 -0.175366
3  90000    N7 8AD             T   N        F   49  NaN  WESTBOURNE ROAD     LONDON    LONDON  ...                     C    End-Terrace             Islington                    6.0   93.457944    N7  1995    1995-07       NaN       NaN
4  86500   UB9 6HF             T   N        F    9  NaN   ANDERSON CLOSE  HAREFIELD  UXBRIDGE  ...                     D  Semi-Detached            Hillingdon                    3.0  122.486548   UB9  1995    1995-10       NaN       NaN

[5 rows x 27 columns]
(1927174, 27)

In [ ]:
countppd_ons = ppd_ons.dropna(subset = ["LAT"])
ppd_ons = ppd_ons.dropna(subset = ["LONG"])
print(ppd_ons.head(5))
print(ppd_ons.shape)
print(ppd_ons.dtypes)

     price  postcode property_type age duration paon saon           street  locality      town  ... CURRENT_ENERGY_RATING     BUILT_FORM LOCAL_AUTHORITY_LABEL NUMBER_HABITABLE_ROOMS         pps    pc  year month_year       LAT      LONG
0    78000  SW16 3BL             S   N        F  208  NaN       GREEN LANE    LONDON    LONDON  ...                     D    End-Terrace               Croydon                    6.0   46.137466  SW16  1995    1995-09  51.41478 -0.115519
2    67000  SW17 0DF             T   N        F   80  NaN      KENLOR ROAD    LONDON    LONDON  ...                     D    Mid-Terrace            Wandsworth                    4.0   73.666850  SW17  1995    1995-04  51.42400 -0.175366
5   128500  SW18 5DH             T   N        F  149  NaN  TRENTHAM STREET    LONDON    LONDON  ...                     D    Mid-Terrace            Wandsworth                    7.0  125.384692  SW18  1995    1995-03  51.44130 -0.199497
9    52995  RM10 8NA             T   N        F   48  NaN     HOLGATE ROAD  DAGENHAM  DAGENHAM  ...                     D    Mid-Terrace  Barking and Dagenham                    3.0   59.672334  RM10  1995    1995-03  51.54446  0.151078
11  620000  SW15 2NU             T   N        F   77  NaN      DEODAR ROAD    LONDON    LONDON  ...                     D  Semi-Detached            Wandsworth                   10.0  224.588857  SW15  1995    1995-09  51.46386 -0.208462

[5 rows x 27 columns]
(498474, 27)
price                         int64
postcode                     object
property_type                object
age                          object
duration                     object
paon                         object
saon                         object
street                       object
locality                     object
town                         object
district                     object
county                       object
date                         object
address                      object
ADDRESS2                     object
PROPERTY_TYPE                object
TOTAL_FLOOR_AREA            float64
CURRENT_ENERGY_RATING        object
BUILT_FORM                   object
LOCAL_AUTHORITY_LABEL        object
NUMBER_HABITABLE_ROOMS      float64
pps                         float64
pc                           object
year                          int64
month_year                period[M]
LAT                         float64
LONG                        float64
dtype: object

In [ ]:
url = "https://drive.google.com/file/d/1FtW1uOgBnYlUeCFJ8k26YaoAq_mQkzEA/view?usp=sharing"
rail = 'rail.csv'
gdown.download(url=url, output=rail, quiet=False, fuzzy=True)

df_rail = pd.read_csv(rail)

Downloading...
From: https://drive.google.com/uc?id=1FtW1uOgBnYlUeCFJ8k26YaoAq_mQkzEA
To: /content/rail.csv
100%|██████████| 50.1k/50.1k [00:00<00:00, 54.3MB/s]

In [ ]:
print(df_rail.head(10))

             Station    OS X    OS Y   Latitude  Longitude     Zone  Postcode
0         Abbey Road  539081  183352  51.531952   0.003723        3   E15 3NB
1         Abbey Wood  547297  179002  51.490784   0.120272        4   SE2 9RH
2      Acton Central  520613  180299  51.508757  -0.263430        2    W3 6BH
3    Acton Main Line  520296  181196  51.516886  -0.267690        3    W3 9EH
4         Acton Town  519457  179639  51.503071  -0.280303        3    W3 8HN
5  Addington Village  537082  163744  51.356239  -0.032665  3,4,5,6   CR0 5AR
6         Addiscombe  534190  166290  51.379808  -0.073213  3,4,5,6   CR0 7AA
7        Albany Park  547903  172902  51.435816   0.126445        5   DA5 3HP
8            Aldgate  533629  181246  51.514342  -0.075627        1  EC3N 1AH
9       Aldgate East  533809  181333  51.515082  -0.073001        1    E1 7PT

In [ ]:
from math import radians, cos, sin, asin, sqrt
def dist(lat1, long1, lat2, long2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula
    dlon = long2 - long1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [ ]:
def find_nearest(lat, long):
    distances = df_rail.apply(
        lambda row: dist(lat, long, row['Latitude'], row['Longitude']),
        axis=1)
    return distances.min()

In [ ]:
ppd_ons_first = ppd_ons[ppd_ons['year']<2015]
ppd_ons_second = ppd_ons[ppd_ons['year']>=2015]

In [ ]:
ppd_ons_first['distance'] = ppd_ons_first.apply(
    lambda row: find_nearest(row['LAT'], row['LONG']),
    axis=1)

<ipython-input-23-d88b533d00e4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ppd_ons_first['distance'] = ppd_ons_first.apply(

In [ ]:
ppd_ons_second['distance'] = ppd_ons_second.apply(
    lambda row: find_nearest(row['LAT'], row['LONG']),
    axis=1)

<ipython-input-26-b9cfa1a2e0ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ppd_ons_second['distance'] = ppd_ons_second.apply(

In [ ]:
# Concatenate the DataFrame
ppd_ons = pd.concat([ppd_ons_first, ppd_ons_second], ignore_index=True)
ppd_ons.to_csv('ppd_energy_rail.csv')

In [ ]:
import gdown
import pandas as pd

url = "https://drive.google.com/file/d/1M2sqIlEzeelE1iGj0RMZKwRRniGAPk5H/view?usp=sharing"
ppd_energy_rail = 'ppd_energy_rail.csv'
gdown.download(url=url, output=ppd_energy_rail, quiet=False, fuzzy=True)

url = "https://drive.google.com/file/d/1qIBcBR4DbC8YgANWrLPy5Vqpe2dp1vJM/view?usp=sharing"
inflation = 'inflation.csv'
gdown.download(url=url, output=inflation, quiet=False, fuzzy=True)

url = "https://drive.google.com/file/d/1NAzRcFhD9L6BYLa30ejuF0OaSYjNJ-U1/view?usp=sharing"
employment = 'employment.csv'
gdown.download(url=url, output=employment, quiet=False, fuzzy=True)

df_ppd_energy_rail = pd.read_csv(ppd_energy_rail)
df_inflation = pd.read_csv(inflation)
df_employment = pd.read_csv(employment)

Downloading...
From (original): https://drive.google.com/uc?id=1M2sqIlEzeelE1iGj0RMZKwRRniGAPk5H
From (redirected): https://drive.google.com/uc?id=1M2sqIlEzeelE1iGj0RMZKwRRniGAPk5H&confirm=t&uuid=f5e1ff51-32e0-49b6-92c3-790dfb1188b8
To: /content/ppd_energy_rail.csv
100%|██████████| 123M/123M [00:02<00:00, 50.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1qIBcBR4DbC8YgANWrLPy5Vqpe2dp1vJM
To: /content/inflation.csv
100%|██████████| 334/334 [00:00<00:00, 848kB/s]
Downloading...
From: https://drive.google.com/uc?id=1NAzRcFhD9L6BYLa30ejuF0OaSYjNJ-U1
To: /content/employment.csv
100%|██████████| 709/709 [00:00<00:00, 1.86MB/s]

In [ ]:
df_combine_inflation = pd.merge(df_ppd_energy_rail, df_inflation, how="left", on=["year"])
df_combined = pd.merge(df_combine_inflation, df_employment, how="left", on=["year"])
print(df_combined)

        Unnamed: 0   price  postcode property_type age duration                  paon     saon                    street  locality  ... NUMBER_HABITABLE_ROOMS          pps    pc  year month_year       LAT      LONG  distance inflation_rate employment_rate
0                0   78000  SW16 3BL             S   N        F                   208      NaN                GREEN LANE    LONDON  ...                    6.0    46.137466  SW16  1995    1995-09  51.41478 -0.115519  0.643771             3%          69.50%
1                1   67000  SW17 0DF             T   N        F                    80      NaN               KENLOR ROAD    LONDON  ...                    4.0    73.666850  SW17  1995    1995-04  51.42400 -0.175366  0.574051             3%          69.50%
2                2  128500  SW18 5DH             T   N        F                   149      NaN           TRENTHAM STREET    LONDON  ...                    7.0   125.384692  SW18  1995    1995-03  51.44130 -0.199497  0.633811             3%          69.50%
3                3   52995  RM10 8NA             T   N        F                    48      NaN              HOLGATE ROAD  DAGENHAM  ...                    3.0    59.672334  RM10  1995    1995-03  51.54446  0.151078  0.430887             3%          69.50%
4                4  620000  SW15 2NU             T   N        F                    77      NaN               DEODAR ROAD    LONDON  ...                   10.0   224.588857  SW15  1995    1995-09  51.46386 -0.208462  0.449711             3%          69.50%
...            ...     ...       ...           ...  ..      ...                   ...      ...                       ...       ...  ...                    ...          ...   ...   ...        ...       ...       ...       ...            ...             ...
498469      498469  530000  SW11 8QQ             F   N        L  LANSON BUILDING, 348  FLAT 91           QUEENSTOWN ROAD       NaN  ...                    2.0  1179.350245  SW11  2023    2023-02  51.48117 -0.148793  0.430814             7%          75.80%
498470      498470  520000  SW19 7AW             F   N        L                    33   FLAT 3                  WOODSIDE       NaN  ...                    3.0   823.697133  SW19  2023    2023-01  51.42559 -0.203442  0.546174             7%          75.80%
498471      498471  335000  SE19 1QG             F   N        L                    19   FLAT 1                GIPSY HILL       NaN  ...                    3.0   638.947168  SE19  2023    2023-02  51.42138 -0.083708  0.343637             7%          75.80%
498472      498472  220000  SW11 5HW             F   N        L        CROMWELL HOUSE  FLAT 21  CHARLOTTE DESPARD AVENUE       NaN  ...                    2.0   437.183663  SW11  2023    2023-03  51.47435 -0.152952  0.393489             7%          75.80%
498473      498473  425000  SW17 0LR             F   N        L        CORNWALL COURT   FLAT 4              GARRATT LANE       NaN  ...                    3.0   630.470257  SW17  2023    2023-01  51.43032 -0.174024  0.518974             7%          75.80%

[498474 rows x 31 columns]

In [ ]:
df_combined.to_csv('final_data.csv')