<a href="https://colab.research.google.com/github/ramansushant/CSCK700/blob/child/CSCK700.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 1500)

In [11]:
pip install gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (4.7.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.31.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2023.11.17)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

In [21]:
import gdown

# Downloading Files that contains data from House transaction and Energy Rating
url = "https://drive.google.com/file/d/1T1TxUl-yKLu_SL6wGlzjcBSbjGwdMS-t/view?usp=sharing"
output = 'ppd.csv'
gdown.download(url=url, output=output, quiet=False, fuzzy=True)

url = "https://drive.google.com/file/d/1QofKqMr_s8oVbQhfPKgfnzoBtI9MRDo9/view?usp=drive_link"
output_flat = 'ppd_flat.csv'
gdown.download(url=url, output=output_flat, quiet=False, fuzzy=True)

df_house = pd.read_csv(output)
df_flat = pd.read_csv(output_flat)

# Concatenate the current DataFrame with the combined DataFrame
combined_df = pd.concat([df_house, df_flat], ignore_index=True)

# Now 'combined_df' contains the data from all CSV files
print(combined_df.head())

Downloading...
From (original): https://drive.google.com/uc?id=1T1TxUl-yKLu_SL6wGlzjcBSbjGwdMS-t
From (redirected): https://drive.google.com/uc?id=1T1TxUl-yKLu_SL6wGlzjcBSbjGwdMS-t&confirm=t&uuid=d24fd3e9-b589-41f8-afb0-1495b2959977
To: /content/ppd.csv

  0%|          | 0.00/186M [00:00<?, ?B/s]
  1%|          | 1.05M/186M [00:00<00:21, 8.71MB/s]
  6%|▋         | 12.1M/186M [00:00<00:02, 59.3MB/s]
 14%|█▍        | 25.7M/186M [00:00<00:01, 88.5MB/s]
 21%|██        | 38.8M/186M [00:00<00:01, 104MB/s]
 27%|██▋       | 50.9M/186M [00:00<00:01, 106MB/s]
 35%|███▌      | 65.5M/186M [00:00<00:01, 119MB/s]
 42%|████▏     | 77.6M/186M [00:00<00:01, 104MB/s]
 51%|█████     | 94.4M/186M [00:00<00:00, 122MB/s]
 58%|█████▊    | 107M/186M [00:01<00:00, 123MB/s]
 65%|██████▌   | 121M/186M [00:01<00:00, 125MB/s]
 72%|███████▏  | 134M/186M [00:01<00:00, 117MB/s]
 79%|███████▊  | 146M/186M [00:01<00:00, 108MB/s]
 85%|████████▍ | 158M/186M [00:01<00:00, 109MB/s]
100%|██████████| 186M/186M [00:01<00:00, 112MB/s]
Downloading...
From (original): https://drive.google.com/uc?id=1QofKqMr_s8oVbQhfPKgfnzoBtI9MRDo9
From (redirected): https://drive.google.com/uc?id=1QofKqMr_s8oVbQhfPKgfnzoBtI9MRDo9&confirm=t&uuid=7754265c-dfca-413a-952f-ad4c9d6b44eb
To: /content/ppd_flat.csv

  0%|          | 0.00/148M [00:00<?, ?B/s]
  1%|          | 1.05M/148M [00:00<00:16, 8.72MB/s]
  8%|▊         | 12.1M/148M [00:00<00:03, 42.1MB/s]
 17%|█▋        | 25.7M/148M [00:00<00:02, 53.8MB/s]
 26%|██▌       | 37.7M/148M [00:00<00:01, 68.7MB/s]
 32%|███▏      | 47.7M/148M [00:00<00:01, 76.5MB/s]
 40%|████      | 59.2M/148M [00:00<00:01, 78.6MB/s]
 51%|█████▏    | 76.0M/148M [00:01<00:00, 95.4MB/s]
 60%|█████▉    | 88.1M/148M [00:01<00:00, 99.0MB/s]
 67%|██████▋   | 98.6M/148M [00:01<00:00, 79.8MB/s]
 73%|███████▎  | 109M/148M [00:01<00:00, 82.4MB/s]
 80%|███████▉  | 118M/148M [00:01<00:00, 73.7MB/s]
 91%|█████████ | 134M/148M [00:01<00:00, 92.2MB/s]
100%|██████████| 148M/148M [00:01<00:00, 81.8MB/s]

   Unnamed: 0  price  postcode property_type age duration paon saon           street   locality  ...          county        date             address   ADDRESS2 PROPERTY_TYPE TOTAL_FLOOR_AREA CURRENT_ENERGY_RATING     BUILT_FORM LOCAL_AUTHORITY_LABEL NUMBER_HABITABLE_ROOMS
0           0  78000  SW16 3BL             S   N        F  208  NaN       GREEN LANE     LONDON  ...  GREATER LONDON  1995-09-29      208 green lane        NaN         House            158.0                     D    End-Terrace               Croydon                    6.0
1           1  51000   UB5 5LH             S   N        F   57  NaN    BENGARTH ROAD   NORTHOLT  ...  GREATER LONDON  1995-10-31    57 bengarth road        NaN         House             72.0                     D    Mid-Terrace                Ealing                    4.0
2           2  67000  SW17 0DF             T   N        F   80  NaN      KENLOR ROAD     LONDON  ...  GREATER LONDON  1995-04-24      80 kenlor road        NaN         House             85.0                     D    Mid-Terrace            Wandsworth                    4.0
3           3  90000    N7 8AD             T   N        F   49  NaN  WESTBOURNE ROAD     LONDON  ...  GREATER LONDON  1995-07-26  49 westbourne road        NaN         House             90.0                     C    End-Terrace             Islington                    6.0
4           4  86500   UB9 6HF             T   N        F    9  NaN   ANDERSON CLOSE  HAREFIELD  ...  GREATER LONDON  1995-10-13    9 anderson close  Harefield         House             66.0                     D  Semi-Detached            Hillingdon                    3.0

[5 rows x 22 columns]

In [24]:
print(combined_df.shape)
print(combined_df.head(20))

(1927174, 22)
    Unnamed: 0   price  postcode property_type age duration paon saon              street    locality  ...          county        date                 address   ADDRESS2 PROPERTY_TYPE TOTAL_FLOOR_AREA CURRENT_ENERGY_RATING     BUILT_FORM   LOCAL_AUTHORITY_LABEL NUMBER_HABITABLE_ROOMS
0            0   78000  SW16 3BL             S   N        F  208  NaN          GREEN LANE      LONDON  ...  GREATER LONDON  1995-09-29          208 green lane        NaN         House           158.00                     D    End-Terrace                 Croydon                    6.0
1            1   51000   UB5 5LH             S   N        F   57  NaN       BENGARTH ROAD    NORTHOLT  ...  GREATER LONDON  1995-10-31        57 bengarth road        NaN         House            72.00                     D    Mid-Terrace                  Ealing                    4.0
2            2   67000  SW17 0DF             T   N        F   80  NaN         KENLOR ROAD      LONDON  ...  GREATER LONDON  1995-04-24          80 kenlor road        NaN         House            85.00                     D    Mid-Terrace              Wandsworth                    4.0
3            3   90000    N7 8AD             T   N        F   49  NaN     WESTBOURNE ROAD      LONDON  ...  GREATER LONDON  1995-07-26      49 westbourne road        NaN         House            90.00                     C    End-Terrace               Islington                    6.0
4            4   86500   UB9 6HF             T   N        F    9  NaN      ANDERSON CLOSE   HAREFIELD  ...  GREATER LONDON  1995-10-13        9 anderson close  Harefield         House            66.00                     D  Semi-Detached              Hillingdon                    3.0
5            5  128500  SW18 5DH             T   N        F  149  NaN     TRENTHAM STREET      LONDON  ...  GREATER LONDON  1995-03-01     149 trentham street        NaN         House            95.78                     D    Mid-Terrace              Wandsworth                    7.0
6            6  157500   N19 5EX             S   N        F  104  NaN  LADY MARGARET ROAD      LONDON  ...  GREATER LONDON  1995-03-17  104 lady margaret road        NaN         House           192.48                     F  Semi-Detached               Islington                    6.0
7            7  145000    W6 0BG             S   N        F   47  NaN    BRACKENBURY ROAD      LONDON  ...  GREATER LONDON  1995-08-01     47 brackenbury road        NaN         House           154.54                     G    Mid-Terrace  Hammersmith and Fulham                    7.0
8            8   60000   SM5 3DY             S   N        F   21  NaN           PARK LANE  CARSHALTON  ...  GREATER LONDON  1995-12-18            21 park lane        NaN         House           112.00                     E  Semi-Detached                  Sutton                    7.0
9            9   52995  RM10 8NA             T   N        F   48  NaN        HOLGATE ROAD    DAGENHAM  ...  GREATER LONDON  1995-03-31         48 holgate road        NaN         House            83.00                     D    Mid-Terrace    Barking and Dagenham                    3.0
10          10   65000    N9 7RN             S   N        F    3  NaN   KING EDWARDS ROAD      LONDON  ...  GREATER LONDON  1995-10-27     3 king edwards road        NaN         House            84.37                     D    Mid-Terrace                 Enfield                    4.0
11          11  620000  SW15 2NU             T   N        F   77  NaN         DEODAR ROAD      LONDON  ...  GREATER LONDON  1995-09-01          77 deodar road        NaN         House           258.00                     D  Semi-Detached              Wandsworth                   10.0
12          12   55000   SE9 3EG             S   N        F   13  NaN           WOODCROFT      LONDON  ...  GREATER LONDON  1995-11-10            13 woodcroft        NaN         House            63.00                     E  Semi-Detached               Greenwich                    5.0
13          13   81500  SE27 0LH             S   N        F   39  NaN     GREENHURST ROAD      LONDON  ...  GREATER LONDON  1995-05-26      39 greenhurst road        NaN         House           108.00                     D  Semi-Detached                 Lambeth                    6.0
14          14  141400  SW17 8AF             S   N        F   55  NaN       ELMFIELD ROAD      LONDON  ...  GREATER LONDON  1995-01-17        55 elmfield road        NaN         House           153.00                     D    Mid-Terrace              Wandsworth                    8.0
15          15   66500  SE15 3LY             T   N        F   16  NaN       NUNHEAD GROVE      LONDON  ...  GREATER LONDON  1995-09-15        16 nunhead grove        NaN         House            66.00                     D    Mid-Terrace               Southwark                    4.0
16          16  200500  SE23 2QA             D   N        F   40  NaN     SUNDERLAND ROAD      LONDON  ...  GREATER LONDON  1995-11-20      40 sunderland road        NaN         House           249.00                     F       Detached                Lewisham                   10.0
17          17   66500   HA8 0DZ             S   N        F  151  NaN     MONTROSE AVENUE     EDGWARE  ...  GREATER LONDON  1995-07-28     151 montrose avenue        NaN         House           102.00                     D  Semi-Detached                  Barnet                    6.0
18          18   69000   TW3 3SY             S   N        F   19  NaN   WELLINGTON AVENUE    HOUNSLOW  ...  GREATER LONDON  1995-08-21    19 wellington avenue        NaN         House            80.80                     D  Semi-Detached                Hounslow                    5.0
19          19  111000   HA4 6BS             S   N        F   23  NaN      SHENLEY AVENUE     RUISLIP  ...  GREATER LONDON  1995-04-26       23 shenley avenue        NaN         House            97.00                     E  Semi-Detached              Hillingdon                    5.0

[20 rows x 22 columns]